* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#app{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    float: left;
    width: 700px;
    height: 300px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

i{
    font-size: 2rem;
    padding: 1rem;
}

/* ? %%%%%%%%%%%%%%%%%%%%%%%%%%%%% */
/* > THUMBNAIL SECTION */
/* ? %%%%%%%%%%%%%%%%%%%%%%%%%%%%% */

.thumbnail{
    width: 5rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin: .5rem;
}

.gray {
    filter: grayscale(100%);
}

#thumbnails {
    display: flex;
    justify-content: center;
}